ultralytics
opencv-python>=4.7
opencv-contrib-python>=4.7
torch>=1.8
tensorboard>=2.7.0
torchvision>=0.9.0
PyYAML>=5.3.1
tqdm>=4.41.0
addict>=2.4.0
pycocotools>=2.0
onnx>=1.10.0 
onnx-simplifier>=0.3.6
thop
shapely>=2.0